<h1>Checkout</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Qty</th>
    </tr>
  </thead>

  <tbody id="js-tbody"></tbody>
</table>

<hr>

<div class="text-center">
  <button type="button" class="cta green" id="js-checkout-btn">Checkout</button>
</div>
<script>
  window.addEventListener('load', (e) => {
    const CHECKOUT = {
      init: () => {
        NJSMC_HTTP.request(undefined, '/api/cart', 'GET', {}, {}, (statusCode, responsePayload) => {
          if(statusCode == 200 && typeof(responsePayload) == 'object') {
            let html = '';
            responsePayload.forEach(item => {
              html += `
                <tr>
                  <td>${item.name}</td>
                  <td class="text-center">${item.price}</td>
                  <td class="text-center">1</td>
                </tr>
              `;
            });
            document.getElementById('js-tbody').innerHTML = html;
          }
        });
        CHECKOUT.initEvents();
      },

      initEvents: () => {
        const checkoutBtnEl = document.getElementById('js-checkout-btn');
        if(checkoutBtnEl) {
          checkoutBtnEl.addEventListener('click', (e) => {
            NJSMC_HTTP.request(undefined, '/api/checkout', 'POST', {}, {}, (statusCode, responsePayload) => {
              if(statusCode == 200) {
                window.location = `/orders?id=${responsePayload.id}`;
              }
            });
          });
        }
      }
    }

    CHECKOUT.init();
  });
</script>