<h1>Checkout</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Qty</th>
    </tr>
  </thead>

  <tbody id="js-tbody"></tbody>
</table>

<hr />

<div class="formWrapper">
  <form id="checkoutForm" action="/api/checkout" method="POST">
    <div class="formError"></div>
    <div class="inputWrapper">
      <div class="inputLabel">Card number</div>
      <input type="text" name="number"/>
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Month Exp.</div>
      <input type="text" name="exp_month"/>
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Year Exp.</div>
      <input type="text" name="exp_year"/>
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">CVC</div>
      <input type="text" name="cvc"/>
    </div>
    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta green">Checkout</button>
    </div>
  </form>
</div>

<script type="text/javascript" charset="utf-8" src="/public/scripts/forms.js"></script>

<script>
  window.addEventListener('load', (e) => {
    const CHECKOUT = {
      init: () => {
        NJSMC_HTTP.request(undefined, '/api/cart', 'GET', {}, {}, (statusCode, responsePayload) => {
          if(statusCode == 200 && typeof(responsePayload) == 'object') {
            let html = '';
            responsePayload.forEach(item => {
              html += `
                <tr>
                  <td>${item.name}</td>
                  <td class="text-center">${item.price}</td>
                  <td class="text-center">1</td>
                </tr>
              `;
            });
            document.getElementById('js-tbody').innerHTML = html;
          }
        });
        CHECKOUT.initEvents();
      },

      initEvents: () => {
        const loginFormEl = document.querySelector('form');
        if(loginFormEl) {
          loginFormEl.addEventListener('submit', (e) => {

            // Stop it from submitting
            e.preventDefault();
            const {formId, path, method} = NJSMC_FORM.getFormMeta(e);
            NJSMC_FORM.toggleAlerts(formId);

            // Call the API
            const payload = NJSMC_FORM.serialize(loginFormEl.elements);
            payload['exp_month'] = parseInt(payload.exp_month);
            payload['exp_year'] = parseInt(payload.exp_year);
            const card = {card: payload};

            NJSMC_HTTP.request(undefined, path, method, card, card, (statusCode, responsePayload) => {
              // Display an error on the form if needed
              if(statusCode !== 200) {
                if(statusCode == 403) {
                  // log the user out
                  app.logUserOut();

                } else {

                  // Try to get the error from the api, or set a default error message
                  var error = typeof(responsePayload.error) == 'string' ? responsePayload.error : 'An error has occured, please try again';

                  // Set the formError field with the error text
                  document.querySelector('#'+formId+' .formError').innerHTML = error;

                  // Show (unhide) the form error field on the form
                  document.querySelector('#'+formId+' .formError').style.display = 'block';
                }
              } else {
                // If successful, send to form response processor
                NJSMC_TOKENS.setSessionToken(responsePayload);
                window.location = `/orders?id=${responsePayload.id}`;
              }
            });
          });
        }
      }
    }

    CHECKOUT.init();
  });
</script>